@media (max-width: 1024px) {
    .container-video {
        .video-wrapper1 div {
            width: 250px;
            height: auto;
        }
        .video-wrapper2 div {
            width: 250px;
            height: auto;
        }
        .video-wrapper3 div {
            width: 250px;
            height: auto;
            }
    }
}